<!--
    
 @Name：不落阁整站模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->

{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
  {% block head %}
  <link href="{% static 'css/article.css' %}" rel="stylesheet" />
  {% endblock head %}
  {% block main %}
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="home.html" title="网站首页">网站首页</a>
                <a><cite>文章专栏</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main-left">
                    <div class="shadow" style="text-align:center;font-size:16px;padding:40px 15px;background:#fff;margin-bottom:15px;">
                        <!--未搜索到与【<span style="color: #FF5722;">keywords</span>】有关的文章，随便看看吧！-->
                    </div>
                    {% for post in post_list %}
                    <div class="article shadow">
                        <div class="article-left">
                            <img src="{% static 'images/cover/201703181909057125.jpg' %}" alt="文章" />
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </div>
                            <div class="article-abstract">
                               {{ post.body }}
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ post.created_time }}</span>
                            <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;{{ post.author.name }}</span>
                            <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{{ post.tag.name }}</a></span>
                            <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{ post.views }}</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;&nbsp;{{ post.comment_set.count }}</span>
                        </div>
                    </div>
                    {% empty %}
                    <div class="no-post">暂时还没有发布的文章</div>
                    {% endfor %}
                </div>

                <div class="blog-main-right">
                    <div class="blog-search">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="search-keywords  shadow">
                                    <input type="text" name="keywords" lay-verify="required" placeholder="输入关键词搜索" autocomplete="off" class="layui-input">
                                </div>
                                <div class="search-submit  shadow">
                                    <a class="search-btn" lay-submit="formSearch" lay-filter="formSearch"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="article-category shadow">
                        <div class="article-category-title">分类导航</div>
                        <!--<a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">ASP.NET MVC</a>-->
                        <!--<a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">SQL Server</a>-->
                        <!--<a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">Entity Framework</a>-->
                        <!--<a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">Web前端</a>-->
                        <!--<a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">C#基础</a>-->
                        <!--<a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">杂文随笔</a>-->
                        {% get_categories as category_list %}
                        {% for category in category_list %}
                        <ul>
                        <li>
                            <a href="{% url 'blog:category' category.pk  %}">{{ category.name }}<span class="post-count">(13)</span></a>
                        </li>
                        </ul>
                        {% empty %}
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">作者推荐</div>
                        {% get_hottest_article as articles %}
                            {% for article in articles %}
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        </ul>
                            {% empty %}
                            暂无文章
                            {% endfor %}
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">随便看看</div>
                        <ul class="fa-ul blog-module-ul">
                             {% get_recent_article as articles2 %}
                            {% for article in articles2%}
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="{{ article.get_absolute_url }}" target="_blank">{{ article.title }}</a></li>

                        </ul>
                            {% empty %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!--右边悬浮 平板或手机设备显示-->
                    <div class="category-toggle"><i class="fa fa-chevron-left"></i></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    </div>
    {% endblock main %}
{% block footer %}

{% endblock footer %}
