{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
    {% block head %}
    <!-- 本页样式表 -->
    <link href="{% static 'css/detail.css' %}" rel="stylesheet" />
    {% endblock head %}
    <!-- 主体（一般只改变这里的内容） -->
    {% block main %}
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="{% url 'blog:index' %}" title="网站首页">网站首页</a>
                <a href="{% url 'blog:article' %}" title="文章专栏">文章专栏</a>
                <a><cite>{{ post.title }}</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main-left">
                    <!-- 文章内容（使用Kingeditor富文本编辑器发表的） -->
                    <div class="article-detail shadow">
                        <div class="article-detail-title">
                            {{ post.title }}
                        </div>
                        <div class="article-detail-info">
                            <span>编辑时间：{{ post.created_time }}</span>
                            <span>作者：{{ post.author.name }}</span>
                            <span>浏览量：12</span>
                        </div>
                        <div class="article-detail-content">
                            <p style="text-align:center;">
                              {{ post.body }}
                            </p>

                        </div>
                    </div>
                    <!-- 评论区域 -->
                    <div class="blog-module shadow" style="box-shadow: 0 1px 8px #a6a6a6;">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-bottom:0">
                            <legend>来说两句吧</legend>
                            <div class="layui-field-box">
                                <div class="row">
                                 <form class="comment-form " action="{% url 'comments:get_comment' post.pk %}" method="post">
                                    {% csrf_token %}
                                    <div class="layui-form-item">
                                         <label for="{{ form.name.id_for_label }}">名字：</label>
                                          {{ form.name }}
                                          {{ form.name.errors }}
                                    </div>
                                     <div class="layui-form-item">
                                         <label for="{{ form.email.id_for_label }}">邮箱：</label>
                                          {{ form.email }}
                                          {{ form.email.errors }}
                                    </div>
                                     <div class="layui-form-item">
                                         <label for="{{ form.text.id_for_label }}">评论：</label>
                                          {{ form.text }}
                                          {{ form.text.errors }}
                                         <button type="submit" class="comment-btn" >提交评论</button>
                                    </div>
                                    <!--<div class="layui-form-item">-->
                                        <!--<textarea name="editorContent" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea layui-hide">-->
                                            <!--{{ form.text }}-->
                                            <!--{{ form.text.errors }}-->
                                        <!--</textarea>-->
                                    <!--</div>-->
                                    <!--<div class="layui-form-item">-->
                                        <!--<button class="layui-btn" lay-submit="formRemark" lay-filter="formRemark">提交评论</button>-->
                                    <!--</div>-->
                                </form>
                                </div>
                            </div>
                        </fieldset>
                        <div class="blog-module-title">最新评论</div>
                        <ul class="blog-comment">
                            <li>
                                <div class="comment-parent">
                                    {% for comment in comment_list %}
                                    <img src="{% static 'images/Absolutely.jpg' %}" alt="" />
                                    <div class="info">
                                        <span class="username">{{ comment.name }}</span>
                                        <span class="time">{{ comment.created_time }}</span>
                                    </div>
                                    <div class="content">
                                        {{ comment.text }}
                                    </div>
                                    {% empty %}
                                    暂未评论
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-main-right">
                    <!--右边悬浮 平板或手机设备显示-->
                    <div class="category-toggle"><i class="fa fa-chevron-left"></i></div><!--这个div位置不能改，否则需要添加一个div来代替它或者修改样式表-->
                    <div class="article-category shadow">
                        <div class="article-category-title">分类导航</div>
                        <!-- 点击分类后的页面和artile.html页面一样，只是数据是某一类别的 -->
                        {% get_categories as category_list %}
                        {% for category in category_list %}
                        <ul>
                        <li>
                            <a href="{% url 'blog:category' category.pk  %}">{{ category.name }}<span class="post-count">(13)</span></a>
                        </li>
                        </ul>
                            {% empty %}
                            暂无分类
                            {% endfor %}
                        <div class="clear"></div>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">相似文章</div>
                       {% get_hottest_article as articles %}
                            {% for article in articles %}
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        </ul>
                            {% empty %}
                            暂无文章
                            {% endfor %}
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">随便看看</div>
                        <ul class="fa-ul blog-module-ul">
                           {% get_recent_article as articles2 %}
                            {% for article in articles2%}
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="{{ article.get_absolute_url }}" target="_blank">{{ article.title }}</a></li>

                        </ul>
                            {% empty %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    {% endblock main %}
{% block footer %}
    <!-- 本页脚本 -->
    <script src="{% static 'js/detail.js' %}"></script>
{% endblock footer %}