{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
    {% block head %}
        <!-- 本页样式表 -->
    <link href="{% static 'css/home.css' %}" rel="stylesheet" />
    {% endblock head %}
                {% block main %}
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <!-- canvas -->
        <canvas id="canvas-banner" style="background: #393D49;"></canvas>
        <!--为了及时效果需要立即设置canvas宽高，否则就在home.js中设置-->
        <script type="text/javascript">
            var canvas = document.getElementById('canvas-banner');
            canvas.width = window.document.body.clientWidth - 10;//减去滚动条的宽度
            if (screen.width >= 992) {
                canvas.height = window.innerHeight * 1 / 3;
            } else {
                canvas.height = window.innerHeight * 2 / 7;
            }
        </script>
        <!-- 这个一般才是真正的主体内容 -->
        <div class="blog-container">
            <div class="blog-main">
                <!-- 网站公告提示 -->
                <div class="home-tips shadow">
                    <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                    <div class="home-tips-container">
                        <span style="color: #009688">偷偷告诉大家，本博客的后台管理也正在制作，为大家准备了游客专用账号！</span>
                        <span style="color: red">网站新增留言回复啦！使用QQ登陆即可回复，人人都可以回复！</span>
                        <span style="color: red">如果你觉得网站做得还不错，来Fly社区点个赞吧！<a href="http://fly.layui.com/case/2017/" target="_blank" style="color:#01AAED">点我前往</a></span>
                        <span style="color: #009688">不落阁 &nbsp;—— &nbsp;一个.NET程序员的个人博客，新版网站采用Layui为前端框架，目前正在建设中！</span>
                    </div>
                </div>
                <!--左边文章列表-->
                <div class="blog-main-left">
                    {% for post in post_list %}
                    <div class="article shadow">
                        <div class="article-left">
                            <img src="{% static 'images/cover/201703181909057125.jpg' %}" alt="文章" />
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </div>
                            <div class="article-abstract">
                               {{ post.body }}
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ post.created_time }}</span>
                            <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;{{ post.author.name }}</span>
                            <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{{ post.tag.name }}</a></span>
                            <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{ post.views }}</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{ post.comment_set.count }}</span>
                        </div>
                    </div>
                    {% empty %}
                    <div class="no-post">暂时还没有发布的文章</div>
                    {% endfor %}
                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                <!--<div class="pagination">-->
                    <!--<ul>-->
                        <!--<li><a href="">1</a></li>-->
                        <!--<li><a href="">...</a></li>-->
                        <!--<li><a href="">4</a></li>-->
                        <!--<li><a href="">5</a></li>-->
                        <!--<li class="current"><a href="">6</a></li>-->
                        <!--<li><a href="">7</a></li>-->
                        <!--<li><a href="">8</a></li>-->
                        <!--<li><a href="">...</a></li>-->
                        <!--<li><a href="">11</a></li>-->
                    <!--</ul>-->
                <!--</div>-->

                </div>

                <!--右边小栏目-->
                <div class="blog-main-right">
                    <div class="blogerinfo shadow">
                        <div class="blogerinfo-figure">
                            <img src="{% static 'images/Absolutely.jpg' %}" alt="Absolutely" />
                        </div>
                        <p class="blogerinfo-nickname">骑着小毛驴</p>
                        <p class="blogerinfo-introduce">一枚90后程序员，python开发工程师</p>
                        <p class="blogerinfo-location"><i class="fa fa-location-arrow"></i>&nbsp;浙江 - 台州</p>
                        <hr />
                        <div class="blogerinfo-contact">
                            <a target="_blank" title="QQ交流" href="javascript:layer.msg('启动QQ会话窗口')"><i class="fa fa-qq fa-2x"></i></a>
                            <a target="_blank" title="给我写信" href="javascript:layer.msg('启动邮我窗口')"><i class="fa fa-envelope fa-2x"></i></a>
                            <a target="_blank" title="新浪微博" href="javascript:layer.msg('转到你的微博主页')"><i class="fa fa-weibo fa-2x"></i></a>
                            <a target="_blank" title="码云" href="javascript:layer.msg('转到你的github主页')"><i class="fa fa-git fa-2x"></i></a>
                        </div>
                    </div>
                    <div></div><!--占位-->
                    <div class="blog-module shadow">
                        <div class="blog-module-title">热文排行</div>
                        {% get_hottest_article as articles %}
                            {% for article in articles %}
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        </ul>
                            {% empty %}
                            暂无文章
                            {% endfor %}
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">最新文章</div>
                        {% get_recent_article as articles2 %}
                            {% for article in articles2%}
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="{{ article.get_absolute_url }}" target="_blank">{{ article.title }}</a></li>

                        </ul>
                            {% empty %}
                            {% endfor %}
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">分类</div>
                        {% get_categories as category_list %}
                        {% for category in category_list %}
                        <ul>
                        <li>
                            <a href="{% url 'blog:category' category.pk  %}">{{ category.name }}<span class="post-count">({{ category.num_posts }})</span></a>
                        </li>
                        </ul>
                        {% empty %}
                        {% endfor %}
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">归档</div>
                        {% get_file as files %}
                        {% for date in files %}
                        <ul>
                        <li>
                            <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                        </li>
                        </ul>
                        {% empty %}
                        {% endfor %}
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">友情链接</div>
                        <ul class="blogroll">
                            <li><a target="_blank" href="http://www.layui.com/" title="Layui">Layui</a></li>
                            <li><a target="_blank" href="http://www.pagemark.cn/" title="页签">页签</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                            </div>
        </div>
    </div>
                {% endblock main %}
    {% block footer %}
   <!-- 本页脚本 -->
    <script src="{% static 'js/home.js' %}"></script>
    {% endblock footer %}
